ALTER TABLE profiles DROP CONSTRAINT IF EXISTS profiles_role_check; ALTER TABLE profiles ADD CONSTRAINT profiles_role_check CHECK (role IN ('customer', 'restaurant', 'grocery', 'essentials', 'driver', 'delivery', 'admin', 'shopkeeper'));
